/**
 * Global styles
*/
@import './utils/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@keyframes body {
	to {
		background-position: 50px 0, 125px 25px;
	}
}

@keyframes spin {
	100% {
		transform: translateY(var(--y)) translateX(var(--x));
	}
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	background-color: #1e1e1eed;
	font-size: 1rem;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	background-size: 50em 50em;
	background-repeat: no-repeat;
	background-position: center center;
}

.container {
	position: relative;
	width: 700px;
	height: 400px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table {
	position: absolute;
	top: 30%;
	z-index: 1;
	transform: scale(0.8);
}

.milk,
.cookies,
.letter,
.newspaper {
	position: absolute;
	z-index: 2;
}

.frame {
	position: absolute;
	top: 10%;
	z-index: -1;
	transform: scale(1.1);
}

.letter {
	transform: rotate3d(2, -1, -1, -0.2turn) scale(0.1);
}

.newspaper {
	z-index: 0;
	transform: rotate3d(1, 1, 1, -0.2turn) scale(0.11);
}

.cookies:hover,
.milk:hover {
	animation: shake 0.4s linear;
}

.letter:hover {
	animation: spin 0.8s linear;
	animation-fill-mode: both;
	z-index: 3;
	--y: 25px;
	--x: 5%;
}

.newspaper:hover {
	animation: spin 0.8s linear;
	animation-fill-mode: both;
	z-index: 3;
	--y: -25px;
	--x: -13%;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

#root {
	min-height: 100vh;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: inherit;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.audio-player {
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.gold-text {
	font-family: 'Raleway', 'Open Sans', sans-serif;
	text-align: center;
	font-size: 46px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	animation: 40s linear 1s infinite move;
}

input[type='text'] {
	color: #cb9b51;
}

@keyframes move {
	from {
		background-position: 0px;
	}
	to {
		background-position: 1000px;
	}
}

@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
