/**
 * Global styles
*/
@import './utils/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@keyframes body {
	to {
		background-position: 50px 0, 125px 25px;
	}
}

@keyframes spin {
	100% {
		transform: translateY(25px);
	}
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	background-color: #5c7d4aed;
	font-size: 1rem;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	//background-image: url('src/assets/images/Table.svg');
	background-size: 50em 50em;
	background-repeat: no-repeat;
	background-position: center center;
}

.container {
	position: relative;
	width: 700px;
	height: 400px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table {
	position: relative;
}

.letter {
	position: absolute;
	bottom: 30%;
	right: 5%;
	transform: rotate3d(2, -1, -1, -0.2turn) scale(0.12);
}

.letter:hover {
	animation: spin 0.5s linear;
	animation-fill-mode: both;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

#root {
	min-height: 100vh;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: inherit;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.audio-player {
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
}
